<h2>Available drones</h2>

<ul>
  {{#each drones}}
    <div class="container">
        <li>Name: <a href="/drones/{{this._id}}/edit"> {{this.name}}</a></li>
        <p>Propellers: {{this.propellers}}</p>
        <p>Speed: {{this.maxSpeed}}</p>
        <form action="/drones/{{this._id}}/delete" method="post">
        <button>Delete</button>
        </form>
    </div>
  {{/each}}
</ul>
